* { 
  font-fill: #5588cb; 
  font-family: "DejaVu Sans";
  font-weight: italic;
  -gt-label-follow-line: true;
  -gt-label-max-angle-delta: 90;
  -gt-label-max-displacement: 800;
  -gt-label-repeat: 500;
  -gt-label-padding: 10;
  stroke-linecap: round;
  label-offset: 7px;
}

[@scale > 1000001] [waterway = 'river'] {
  stroke: #a3ccff;
  stroke-opacity: 0.7;
  stroke-width: 0.5;
}

[@scale < 1000001] [@scale > 200001] [waterway = 'river']{
  stroke-opacity: 0.7;
  stroke-width: 1;
  stroke: #a3ccff;
} 

[@scale < 200001] [@scale > 100001] {
  stroke-opacity: 0.7;
  stroke-width: 1.2;
  stroke: #a3ccff;
} 

[@scale < 100001] {
  stroke: #a3ccff;
  stroke-opacity: 0.7;
  stroke-width: 1.5;
  font-size: 8.5;
  label: [name];
}
