* { 
  font-fill: #895519; 
  font-family: "DejaVu Sans";
  font-weight: normal;
  halo-color: white;
  halo-radius: 1;
  -gt-label-follow-line: true;
  -gt-label-max-angle-delta: 90;
  -gt-label-max-displacement: 400;
  -gt-label-repeat: 300;
  stroke-linecap: round;
  stroke: #ffdf69;
  stroke-width: 1px;
}

[@scale < 200001] [@scale > 100001] {
  stroke: #8f8f8f, #ffdf69;
  stroke-width: 2.6, 1.5;
  stroke-opacity: 0.3, 1;
  z-index: 0, 1;
  label: [name];
  font-size: 7;
}

[@scale < 100001] [@scale > 50001] {
  stroke: #8f8f8f, #ffdf69;
  stroke-width: 3, 2;
  stroke-opacity: 0.5, 1;
  z-index: 0, 1;
  label: [name];
  font-size: 8;
}

[@scale < 50001] [@scale > 25001] {
  stroke: #8f8f8f, #ffdf69;
  stroke-width: 3, 2;
  stroke-opacity: 0.5, 1;
  z-index: 0, 1;
  label: [name];
  font-size: 9;
}

[@scale < 25001] [@scale > 10001] {
  stroke: #8f8f8f, #ffdf69;
  stroke-width: 5, 4;
  stroke-opacity: 0.5, 1;
  z-index: 0, 1;
  label: [name];
  font-size: 10;
}

[@scale < 10001] [@scale > 5001] {
  stroke: #8f8f8f, #ffdf69;
  stroke-width: 7, 6;
  stroke-opacity: 0.5, 1;
  z-index: 0, 1;
  label: [name];
  font-size: 11;
}

[@scale < 5001] {
  stroke: #8f8f8f, #ffdf69;
  stroke-width: 12, 11;
  stroke-opacity: 0.5, 1;
  z-index: 0, 1;
  label: [name];
  font-size: 12;
}