[@scale < 20001] {
  /*stroke: #777;
  stroke-width: 0.5;
  stroke-opacity: 0.5;*/
  font-family: "Dialog.plain";
  font-weight: normal;
  font-fill: #777;
  font-style: normal; 
  font-size: 12;
  label: [name];
}