* { 
  fill: #cadfaa; 
  font-family: "DejaVu Sans";
  halo-color: white;
  halo-radius: 0.3;
  font-weight: normal;
  font-fill: #8ba464;
  font-style: normal; 
  label-anchor: 0.5 0;
  label-offset: 0 5;
}

[@scale < 5001] {
  font-size: 8.5;
  label: [name];
}